@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* .dark {
  --background: #0f172a; /* gris azulado oscuro, puedes cambiarlo */
/*--foreground: #f8fafc;
} */

html.dark {
  --background: #0f172a; /* 👈 importante: aplica en html.dark */
  --foreground: #f8fafc;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Bravura Text";
  src: url("/fonts/BravuraText.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
